#headernav {
    position: fixed;
    display: block;
    top: 200px;
    left: 375px;
    z-index: ;
    width: 600px;
    height: 168px;
}

#header {
    width : 100%;
    position: fixed;
    z-index: ;
    top: 0;
    left: 0;
    display: block;
    float: left;
    margin: 0 auto 0 auto;
    width: 960px;
}

#intro {
    width : 100%;
    display: block;
    float: left;
    z-index: ;
    top: 200px;
    left: 20px;
    display: block;
    margin: 0 auto 0 auto;
    width: 400px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #030303;
}

.headericon {
    width: 120px;
    display: block;
    float: left;
    /*border: green solid 1px;*/
}

.buttonicon {
    width: 110px;
    display: block;
    float: left;
    /*border: red solid 1px;*/
}

body {
    background: #E8DDBD;
    width: 100%;
    font-family: 'in_the_knowregular', sans-serif;
    h1, h2{
        font-family: 'in_the_knowregular', sans-serif;
    }
}

textarea {
    color: #444;
}

.slideImage {
    height: 200px;
}

#navbar {
    width: 600px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
    /* background: #F3F0E9; */
    

}

#navcenter {
    margin: 0 auto;
    width: 100%;
    a{
        color: #CAC7C1;
        display: block;
        float: left;
        position: relative;
        width: 47px;
        height: 22px;
        border: 2px solid black;
        border-radius: 5px;
        padding: 18px 0px 12px 0px;
        margin: 0 10px 0 10px;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        text-shadow: white 0 1px 0;
        text-decoration: none;
        font-family: 'in_the_knowregular', sans-serif;
        &.current {
            color: #615E5A;
            background-position: -329px 0;
        }
        &:visited, &:active {
            text-decoration: none;
        }
    }
}

#twitternav {
	border: 3px solid #4F7659;
	border-radius: 5px;
  	position: fixed;
  	right: 25px;
    top: 50px;
  	width: 300px;
  	height: 450px;
    background-color: #A9B79E;
    overflow-y:hidden;
    padding: 5px;
    &.withreps{
        height: 675px;
    }
    #reps{
        display:inline-block;
        .rep{
            width: 90px;
            padding: 5px;
            display: inline-block;
            float:right;
            .repinfo{
                display: block;
            }
        }
    }
    #zip-btn{
        float: right;
    }
}

#introduction, .slide{
    padding: 50px 450px 50px 50px;
	height: 700px;
	/*width: 100%;*/
    background-color: #EADEBA;
    
}

.slide h1 {
    margin-bottom: 50px;
}

.alt{
    background-color: #DBA887;
}

#fakeslide {
	height: 500px;
	//width: 1600px;

}

#zipcodeform {
    display: none;
}

.badge textarea {
    height: 160px;
    width: 150px;
    margin: 10px;
}

.tagcloudlink {
    margin: 10px;
    color: #333333;
}

#tagcloud {
    line-height:2.5em;
}

.rep .name {
    font-size: 10px;
}

.tweet img {    
    float: left;
    margin-right: 5px;
}

.tweet, #tweetmsg {
    font-size: 11px;
    line-height: 13px;
    background-color: rgba(255,255,255,0.3);
    margin: 4px 0 0 0;
    padding: 4px;
    border-radius: 5px;
}

#tweetmsg {
     font-size: 18px;
     margin: 0 0 10px 0;
}
