/* Page Basics */

body {
    background: #FAF8F3;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: #030303;
}

#container {
    
}


#navbar {
    position: fixed;
    display: block;
    top: 200px;
    left: 375px;
    z-index: ;
    width: 600px;
    height: 168px;
}

#header {
    width : 100%;
    position: fixed;
    z-index: ;
    top: 0;
    left: 0;
    display: block;
    float: left;
    margin: 0 auto 0 auto;
    width: 960px;
    /* background: url(img/header.png) no-repeat -282px 0;*/

}

#intro {
    width : 100%;
    display: block;
    float: left;
    z-index: ;
    top: 200px;
    left: 20px;
    display: block;
    margin: 0 auto 0 auto;
    width: 400px;
    /* background: url(img/header.png) no-repeat -282px 0;*/

}

textarea {
    color: #444;
}

a, a:visited, a:active {
    text-decoration: none;
}


/* Navcenter and Slide Style */

 #navcenter {
    margin: 0 auto;
    width: 600px;
}
 #navcenter a{
    display: block;
    float: left;
    position: relative;
    width: 90px;
    height: 100px;
    color: #CAC7C1;
    background: url(img/test.jpeg) no-repeat -282px 0;
    padding: 18px 0px 12px 0px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    text-shadow: white 0 1px 0;
}

#navcenter a.current {
    color: #615E5A;
    background-position: -329px 0;
} 


.slideImage {
    height: 200px;
}


#slide1 {
	margin: 100px 0 0 0;
	height: 500px;
	border: 1px solid black;
	border-radius: 5px;
}
#slide2 {
	
	margin: 100px 0 0 0;
	height: 500px;
	border: 1px solid black;
	border-radius: 5px;
}
#slide3 {
	margin: 100px 0 0 0;
	height: 500px;
	border: 1px solid black;
	border-radius: 5px;
}
#slide4 {
	
	margin: 100px 0 0 0;
	height: 500px;
	border: 1px solid black;
	border-radius: 5px;
}
#fakeslide {

	height: 500px;
}


